#hamster {
    font-size: 5rem;
    margin: 0 auto;
    background-color: plum;
    padding:10px;
    border-radius: 90px;
    max-width: 900px;
    text-align: center;
}

.center{
    text-align: center;
    margin: 2%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.btn {
    text-align: center;
    padding: 10px 20px;
    font-size: 20px;
    margin: 1%;
}